
// Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.view {
  position: inherit;
  padding-top: 65px;
  padding-bottom: 40px;
}

.option {}

.option.selected {
  box-shadow: 0 0 1px 1px #e03997, 0 3px 1px 0 #E03997, 0 2px 3px 0 #D4D4D5 !important;
}

.voting {
  position: fixed !important;
  bottom: 0;
  z-index: 9999;
  margin: 0;
  width: 100%;
}

.footer {
  width: 100%;
  height: $footer-height;
}

.hidden {
  display: none !important;
}
