// Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";

// Bootstrap
//@import "../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";

.view {
  position: inherit;
  padding-bottom: 80px;
}

a {
  color: #e03997;
}

a:hover {
  color: #e974b6;
}

a:active {
  color: #e974b6;
}

.option {
}

.option.selected {
  box-shadow: 0 0 1px 1px #e03997, 0 3px 1px 0 #E03997, 0 2px 3px 0 #D4D4D5 !important;
}

.voting {
  position: fixed !important;
  bottom: 0;
  z-index: 9999;
  margin: 0;
  width: 100%;
}

.footer {
  width: 100%;
  height: $footer-height;
}

.hidden {
  display: none !important;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: #e660ab;
  color: #ffffff;
}

.navbar-default,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a {
  background-color: #e03997;
  color: #ffffff;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-nav .dropdown-menu > li > a,
.navbar-default .navbar-nav > .open > a {
  background-color: #e03997;
  color: #ffffff;
}

.dropdown-menu {
  background-color: #e03997;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    background-color: #e03997;
    color: #ffffff;
  }
}

::selection {
  background: #e974b6;
  color: white;
}

@media (max-width: 324px) {
  .ui.grid .did .option img {
    display: none;
  }
  .ui.grid .did .option .content {
    max-width: 125px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media (min-width: 325px) and (max-width: 375px) {
  .ui.grid .did .option .content {
    max-width: 125px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media (min-width: 376px) and (max-width: 414px) {
  .ui.grid .did .option .content {
    max-width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media (min-width: 415px) and (max-width: 508px) {
  .ui.grid .did .option .content {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media (min-width: 509px) and (max-width: 635px) {
  .ui.grid .did .option .content {
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media (min-width: 636px) and (max-width: 719px) {
  .ui.grid .did .option .content {
    max-width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media (min-width: 720px) and (max-width: 767px) {
  .ui.grid .did .option .content {
    max-width: 460px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .ui.one.grid .did .option .content {
    max-width: 260px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .ui.two.grid .did .option .content {
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .ui.one.grid .did .option .content {
    max-width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media (min-width: 1201px) and (max-width: 1400px) {
  .ui.two.grid .did .option .content {
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media (min-width: 1401px) {
  .ui.two.grid .did .option .content {
    max-width: 170px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .ui.one.grid .did .option .content {
    max-width: 500px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
